.searchBar{
    width: 100%;
    padding-bottom: 20px;
}

.searchBar input {
    width: 200px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(150, 150, 150);
    padding-left: 10px;
}

.searchBar button{
    width: 100px;
    height: 30px;
    margin-left: 15px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 15px;
    background-color: rgb(200, 200, 200);
    font-size: 18px;
    color: rgb(0, 0, 0);
}

/*Media screen*/
@media screen and (min-width: 0px) and (max-width: 576px) {
    .searchBar{
      text-align: center;
    }
}