.cardFrame {
    margin-bottom: 25px;
}

.card{
    border: 1px solid rgb(240, 240, 240);
    padding-bottom: 30px; 
}

.heroName {
    margin: 20px 0px 10px 20px;
    font-size: 20px;
}

.image {
    text-align: center;
    border: 1px solid rgb(240, 240, 240);
    width: 250px;
    height: 300px;
    margin: 0px auto;

    background-image: url(../../images/card1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.image img{
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.info {
    width: 80px;
    height: 30px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 20px;
    margin-top: 20px;
    background-color: transparent;
}

.add {
    width: 80px;
    height: 30px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 20px;
    margin-top: 20px;
    background-color: transparent;
}

/*Media screen*/
@media screen and (min-width: 1400px) and (max-width: 6000px) {
    .cardFrame {
        width: 32%;
    }  
    .card{
      width: 95%; 
      margin: 0px auto; 
    }
    .image {
        width: 220px;
        height: 320px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .cardFrame {
        width: 32%;
    }  
    .card{
      width: 90%; 
      margin: 0px auto; 
    }
    .image {
        width: 187px;
        height: 272px;
    }
    .heroName {
        
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .cardFrame {
        width: 32%;
    }  
    .card{
      width: 85%; 
      margin: 0px auto; 
    }
    .image {
        width: 130px;
        height: 190px;
    }
    .heroName {
        margin: 20px 10px;
        font-size: 12px;
    } 

    .info {
        width: 60px;
        height: 30px;
        font-size: 12px;
    }
    
    .add {
        width: 60px;
        height: 30px;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .cardFrame {
        width: 50%;
    }  
    .card{
      width: 90%; 
      margin: 0px auto; 
    }
    .image {
        width: 187px;
        height: 272px;
    }
    .heroName {
        margin: 10px 10px;
        font-size: 16px;
    } 

    .info {
        width: 60px;
        height: 30px;
        font-size: 12px;
    }
    
    .add {
        width: 60px;
        height: 30px;
        font-size: 12px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .cardFrame {
        width: 100%;
    }  
    .card{
      width: 85%; 
      margin: 0px auto 0px 0px; 
    }
    .image {
        width: 187px;
        height: 272px;
    }
    .heroName {
        margin: 10px 10px;
        font-size: 16px;
    } 

    .info {
        width: 60px;
        height: 30px;
        font-size: 16px;
    }
    
    .add {
        width: 60px;
        height: 30px;
        font-size: 16px;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .cardFrame {
        width: 100%;
    }  
    .card{
      width: 270px; 
      margin: 0px auto; 
    }
    .image {
        width: 187px;
        height: 272px;
    }
    .heroName {
        margin: 10px 10px;
        font-size: 16px;
    } 

    .info {
        width: 60px;
        height: 30px;
        font-size: 16px;
    }
    
    .add {
        width: 60px;
        height: 30px;
        font-size: 16px;
    }
}